<!DOCTYPE html>
<html lang="en">

<head>

    <title>feedback page</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<style>
    b{
        font-size: 40px;
        color:red;
        font-family:cursive;
    }
</style>



<body>


    <div class="container">
     <div class="row">
       <div class="offset-md-3 col-md-6">
        {% if fdata %}
            <h3> Your Feedback Are........</h3>
        {% endif %}
         {% if fdata %}

             {% for i in fdata %}
                 {% if i.rating >= 6 and i.rating <= 10 %}
                     <b id="name1">name:{{ i.name|capfirst }}</b><br>
                     rating:{{ i.rating }}<br>
                     date:{{ i.date }}<br>
                     feedback:{{i.feedback}}<br><br>
                 {% endif %}
             {% endfor %}
        {%else %}
               <h1> NO Feedbackform Are Availabel....</h1>
        {% endif %}


           <form method="POST">
            {% csrf_token %}
              <h3> Please Enter Your Feedback</h3>
              {{ fform}}<br>

           <center>
            <input type ="submit"value="send" class="btn btn-success">
            <input type ="reset"value="clear" class="btn btn-danger">
            </center>
          </form>
    </div>
    </div>
    </div>
    </div>




</body>
</html>